/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*
  sTo nahoře je černá magie, na to raději nešahej.
  Ale sem dolů už si můžeš psát, co budeš chtít.
  
  Tohle je mimochodem opět komentář, ale v CSS.
  Začíná a končí trochu jinak než v HTML, ale
  princip je stejný.
  ------------------------------------------------
  */
  body {
    margin: 0;
    padding: 0;

  }

  

  h1 {
    text-align: center;
    background:url(obrazky/hlavicka.jpg) center center no-repeat;
    margin:0;
    padding: 20px;
    font-size: 50px;
    font-family: "DM Serif Text", serif;
  }

  h2 {
    text-align: center;
    font-size: 50px;
    
  }

  h3 {

  }

  nav {
    text-align: center;
    padding: 30px;
    background-color: blue;
    background-size: cover;
  }

  nav a {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "DM Serif Text", serif;
  }

  nav a:hover {
    background-color: #4EA5D9;
    border-bottom: 2px solid #C3F73A;
  }

  .uvod {
    font-size:20px;
    margin: 0;
    padding: 50px 15%;
    background-color: #E1EFE6;
    font-family: "DM Serif Text", serif;

  }

  .onas {
    font-size:20px;
    margin: 0;
    padding: 50px 15%;
    background-color: #E1EFE6;
    font-family: "DM Serif Text", serif;
  }

  

  .kontakt {
    font-size:20px;
    margin: 0;
    padding: 50px 15%;
    background-color: #E1EFE6;
    font-family: "DM Serif Text", serif;
    text-align: center;
  }

  .nabizime {
    font-size:20px;
    margin: 0;
    padding: 50px 15%;
    background-color: #E1EFE6;
    font-family: "DM Serif Text", serif;
  }

  .uvod img {
    width: 400px;
    height: 500px;
    float: left;
    padding-right: 30px;
    border-radius: 15px;
  }

  .onas img {
    width: 700px;
    height: 550px;
    float: right;
    margin-left: 30px;
    border-radius: 15px;
  }

  

  .nabizime img {
    width: 700px;
    padding-right: 50px;
    float: left;
    border-radius: 15px;

  }

  .kontakt img {
    width: 450px;
    height: 550px;
    float: right;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
  }

  section {
    overflow: auto;
  }

  li {
    margin: 10px;
  }

  footer {
    text-align: center;
    font-family: serif;
    padding: 10px;
    background-color: #1B37F0;
    color: white;

  }